@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../../../node_modules/highlightjs/styles/atom-one-dark.css";

p, ul {
  @apply pb-4;
}

a {
  @apply text-teal-700;
}


a:hover {
  @apply text-purple-400;
}

a:visited {
  @apply text-purple-400;
}

/* nav a,
nav a:hover,
nav a:visited {
  @apply text-red;
}*/

.img-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h1 {
  @apply font-black text-xl;
}

h2 {
  font-size: 2.7em;
}


ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}

footer { background-image: linear-gradient(14deg, #A4C339 0%, #6EA644 58%);}


/* Add the lines below */
@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 2;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}


