@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply pb-4;
}

a {
  @apply text-teal-700;
}


a:hover {
  @apply text-purple-400;
}

a:visited {
  @apply text-purple-400;
}

/* nav a,
nav a:hover,
nav a:visited {
  @apply text-red;
}*/

.img-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

h1 {
  @apply font-black text-xl;
}

ul {
  @apply list-disc list-inside;
}

ol {
  @apply list-decimal list-inside;
}


/* Add the lines below */
@layer utilities {
  @variants responsive {
    .masonry {
      column-count: 2;
      column-gap: 1.5em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

@import "../../../node_modules/highlightjs/styles/github.css";
